
body {
	background-color: #FFD9B0;
}

.content {
	width: 80%;
	text-align: center;
}

table {
	width: 80%;
	border-collapse: collapse;
}

th {
	height: 70px;
}

td {
	height: 50px;
	vertical-align: middle;
}

tr:hover {background-color: coral;}

table, thead, tr, th, td {
	border: 1px solid;
}